.background    { background: rgb(52, 166, 251);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 79, 79); }
.wall          { background: white;   }
.floater       { background: rgb(169, 0, 178); }
.actor  { position: absolute;  }
.coin   { background: rgb(255, 235, 2); }
.player { background: rgb(216, 214, 214); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(206, 4, 4);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
